* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header nav {
    display: none;
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: #fff;
    padding: 32px 33px;
}

.hamburger {
    position: relative;
    height: 75px;
    display: flex;
}

.hamburger:hover nav {
    display: block;
    transition-duration: 5.25s;
}


header nav h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

header nav h4:first-child {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

header ul {
    list-style: none;
}

header ul li {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    padding-left: 11px;
    color: #6F6E6E;
    margin: 11px 0;
}

header ul li a {
    text-decoration: none;
    color: #6f6e6e;
}

.logo {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 10%;
}

.button-nav {
    width: 159px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 10%;
    align-items: center;
}

.banner {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.banner-box {
    display: flex;
    align-items: center;
    width: 560px;
}


.banner-box-image {
    background-image: url(/img/Layer_57-removebg-preview\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text {
    margin-right: 10%;
    background-image: url(/img/Group\ 10.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.category {
    display: flex;
    justify-content: center;
    margin: 0 15px 96px 15px;
}

.container {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    margin-top: 65px;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 20%, 11%, 0.7);
    background-size: cover;
    background-position: center;
}

.women {
    background-image: url(/img/Layer\ 43.png);
    grid-column: 1 / 2;
}

.men {
    background-image: url(/img/Rectangle\ 30.png);
    grid-column: 2 / 3;
}

.new {
    background-image: url(/img/Rectangle\ 30\ \(1\).png);
    grid-column: 3 / 4;
}

.acces {
    background-image: url(/img/Rectangle\ 20.png);
    grid-column: 1 / 4;
}

.container-text1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.container-text2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F16D7F;
}

.featured {
    text-align: center;
}

.featured-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    margin-bottom: 6px;
    color: #222222;
}

.featured-p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 48px;
    color: #9F9F9F;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    max-width: 1140px;
    position: relative;
    margin: 0 auto 48px auto;
}

.grid-item {
    background-color: #F8F8F8;
    text-align: left;
}

.item-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    margin-bottom: 16px;
    color: #000000;
}

.item-des {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    color: #5D5D5D;
}

.price-tag {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 19px;
    color: #F16D7F;
}

.item-img {
    margin-bottom: 25px;
    position: relative;
}

.item-text-block {
    padding: 0 16px;
}

.browse-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    color: #F26376;
    padding: 14px 38px;
    text-decoration: none;
}

.item-shade {
    background-color: hsla(0, 20%, 11%, 0.7);
    width: 100%;
    height: 100%;
}

.browse-button-box {
    margin: 48px auto 156px auto;
}

.features {
    background-color: #222224;
    display: flex;
    justify-content: center;
    padding: 103px 0;
}

.features__container {
    max-width: 1140px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.features__container__item {
    width: 360px;
    text-align: center;
}

.features__container__item p:nth-child(2) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 28px;
}

.features__container__item p:nth-child(3) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.newsletter {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/img/Layer\ 41.png);
}

.newsletter__container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.newsletter__opacity {
    min-height: 448px;
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 96%, 0.7);
    width: 100%;
}

.newsletter__container__item1:first-child {
    width: 360px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.newsletter__container__item2 p:nth-child(1) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.newsletter__container__item2 p:nth-child(2) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.newsletter__container input::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

input {
    padding: 15px 0 15px 22px;
    border-radius: 20px 0 0 20px;
    border-right: none;
    background: #E1E1E1;
    border: none;
    width: 250px;
}

.contact__button {
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    display: inline;
    color: #FFFFFF;
    padding: 14px;
    border: none;
    position: relative;
    top: 1px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

input:focus {
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsla(240, 3%, 14%, 1);
    height: 79px;
    align-items: center;
    color: #fff;

}

.footer__item2 {
    display: flex;
    gap: 7.23px;
}

.social {
    width: 32px;
    height: 32px;
}

.social i {
    color: hsla(240, 3%, 14%, 1);
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social i:hover {
    color: white;
    background-color: hsla(352, 82%, 69%, 1);
}

.social a {
    text-decoration: none;
}

.add-cart {
    opacity: 0;
}

.add-cart:hover {
    opacity: 1;
    transition-duration: 0.3s;
}



@media (max-width: 768px) {
    body {
        max-width: 768px;
    }

    .banner {
        height: 367.5px;
    }

    .banner-box {
        width: 386px;
        height: 386px;
    }

    .banner-text {
        background-size: contain;
    }

    .banner-box-image {
        background-size: contain;
    }

    .featured-grid {
        gap: 16px;
        margin: 0 16px 0 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .browse-button-box {
        margin-bottom: 71px;
    }

    .container {
        grid-template-rows: 167px 116px;
    }

    .features__container {
        flex-direction: column;
    }

    .newsletter__container {
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
}

@media (max-width: 375px) {
    body {
        width: 375px;
    }

    .nav-cart {
        display: none;
    }

    .nav-account {
        display: none;
    }

    .button-nav {
        justify-content: end;
    }

    .logo {
        left: 5%;
    }

    .button-nav {
        right: 5%;
    }

    .banner-box-image {
        display: none;
    }

    .banner-text {
        margin-left: 56px;
        margin-right: 56px;
    }

    .featured-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        margin: 0 8px;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr) 111px;
    }

    .container-item {
        grid-column: 1 / 2;
        width: 343px;
        height: 247px;
    }

    .acces {

        height: 111px;
    }

    .category {
        margin-bottom: 64px;
    }

    .browse-button-box {
        margin-bottom: 85px;
    }

    footer {
        height: 143px;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .footer__item2 {
        margin-top: 43px;
        margin-bottom: 40px;
    }

    .newsletter__container__item2 {
        padding-bottom: 110px;
    }

    .newsletter__container__item1 {
        padding-top: 54px;
    }
}

.add-cart {
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cart p {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 11px 13px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-cart {
    position: relative;
}

.nav-cart p {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.cart-container {
    text-align: center;
    display: none;
}

.cart-items__item {

    width: 652px;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 10px 9px grey;
}

.cart-items__item__img {
    width: 265px;
}

.cart-items__item__img img {
    width: 265px;
}

.cart-items__item__text {
    width: 262px;
    text-align: left;
}

.delete-button {
    cursor: pointer;
}

.delete-item-block {
    height: fit-content;
}